.root {
    overflow:hidden;

    width:16px;
    height:16px;
    border: 1px solid green;
}

.root > *:first-child {
    /* display:none; */
    visibility:hidden;
    width:0;
    height:0;
}

.root > *:nth-child(2) {
    /* display:none; */
    width:100%;
    height:100%;
}